<div class="container" *ngIf="product != undefined">
    <button routerLink="../" class="btn btn-primary mb-3">< Back</button>
    <div>
        <h2>{{ product.name }}</h2>
        <img [src]="product.image" style="max-width: 300px">

        <h3>Ingredients</h3>
        <ul *ngFor="let ingredient of product.ingredients">
            <li>{{ ingredient }}</li>
        </ul>
        <p>kcal: {{ product.kcal }}</p>

        <h3>Instructions</h3>
        <p>{{ product.instructions }}</p>
    </div>
</div>