<h1 class="text-center">Contact</h1>
<form class="mt-5 text-center">
    <label for="fname">First name</label>
    <input type="text" id="fname" name="firstname" placeholder="First name" class="ms-3 mb-3" [(ngModel)]="firstName">
    <br/>
    <label for="lname">Last name</label>
    <input type="text" id="lname" name="lastname" placeholder="Last name" class="ms-3 mb-3" [(ngModel)]="lastName">
    <br/>
    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Write your message here" style="height:170px" class="ms-3" [(ngModel)]="message"></textarea>
    <br/>
    <input type="submit" value="Submit" class="mt-5">
</form>