<ng-container *ngFor="let p of products">
    <div class="product-container" *ngIf="searchValue === '' ||  p.name.toLowerCase().includes(searchValue)">
        <div class="image-container"><img [src]="p.image" alt="" style="max-width: 200px"></div>
        <div>
            <div class="name-container"><p>{{p.name}}</p></div>
            <div class="detail-container">
                <div class="details"><b>kcal:</b> {{p.kcal}}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn btn-primary">Show recipe</button>
        </div>
    </div>
</ng-container>